/* -------------------- CSS général -------------------- */


a {
    text-decoration: none;
}

.icon {
    max-width: 30px;
    max-height: 30px;

}

.container {
    margin-top: 5%;
}

.container-width{
    width: 25%;
}

/* Mobile */
@media only screen and (max-width: 400px) {
    .container-width {
      width: 75%;
    }
    .container {
        margin-top: 20%;
    }
  }

/* -------------------- header -------------------- */

.bg-header {
    background-color: #33058D;
}

nav img {
    max-width: 270px;
    max-height: 40px;
}
.navbar-toggler {
    border: 0px;
}
.navbar-nav {
    text-align: center;
    padding-top: 40px;
}
.item-link {
    color: white;
    font-size: 25px;
}
.item-link:hover {
    color: rgb(230, 230, 230);
    text-decoration: none;
}
.nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo-index {
    max-width: 150px;
    max-height: 150px;
}